.card{
    border: 1px solid black;
    padding: 5px;
    display: flex;
    flex-direction: column;
    margin: 10px 0px 0px 10px;
    width: 300px;
    display: inline-block;
}

.addBuy{
    margin: 10px;
    color: black;
    padding: 10px;
}

.removeBuy{
    margin: 10px;
    color: black;
    padding: 10px;
}